h1,
h2,
h3,
h4,
h5,
h6,
.font-brand,
.font-brand > * {
  font-family: "Chromatic Grotesque", Inter, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

@font-face {
  font-family: "Chromatic Compact";
  src: url("/fonts/chromatic-compact-bold-pro.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Chromatic Condensed";
  src: url("/fonts/chromatic-condensed-bold-pro.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Chromatic Grotesque";
  src: url("/fonts/chromatic-grotesque-regular-pro.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Chromatic Grotesque";
  src: url("/fonts/chromatic-grotesque-medium-pro.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Chromatic Geometric";
  src: url("/fonts/chromatic-geometric-regular-pro.woff2") format("woff2");
  font-weight: 400;
}

.font-chromatic-compact {
  font-family: "Chromatic Compact";
}

.font-chromatic-condensed {
  font-family: "Chromatic Condensed";
}

.font-chromatic-grotesque {
  font-family: "Chromatic Grotesque";
}

.font-chromatic-geometric {
  font-family: "Chromatic Geometric";
}
