@import "tailwindcss/base";
@import "./fonts.css";
@import "./prism.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6,
.font-brand,
.font-brand > * {
  font-family: "ES Build", "Matter", Inter, -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Matter", Inter, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}
